.header {
  background-color: black;
  color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  padding: 1rem 1rem;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 5rem;
  justify-content: end;
  width: 33.33%;
  list-style: none;
}

.header__navigation-item {
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.1rem;
  border-radius: 25%;
  transition: background-color 0.2s; /* Transición suave */

}
.header__navigation-item:hover {
 background-color: red;
}
.header__navigation-item--link {
  text-decoration: none;
  color: aqua;
}
