.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  /* Mobile */
  height: 250px;

  /* Tablet */
  @media (min-width: 768px) {
    height: 400px;
  }

  /* Desktop */
  @media (min-width: 1024px) {
    height: 500px;
  }
}
.banner__info {
  position: relative;
  z-index: 2;
}

.banner__text {
  color: white;
  text-align: center;
  padding: 1rem;
}

.banner__image {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.banner--opacity {
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
