.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  /* Mobile */
  height: 250px;

  /* Tablet */
  @media (min-width: 768px) {
    height: 400px;
  }

  /* Desktop */
  @media (min-width: 1024px) {
    height: 500px;
  }
}

.banner__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.banner__text {
  color: red;
  text-align: left;
  padding: 1rem;
  flex: 1; 
}

.banner__image {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner--opacity {
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
